li{
    font-family:Arial, Helvetica, sans-serif;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0 10%;
    margin:0 10%;
    background-color: darkgrey;
}

#img1{
    float: right;
    border-radius: 360px;
    width: 150px;
    height: 150px;
}

.icones{
    width: 20px;
    height: 20px;
}
a{
    color:black;
    text-decoration: none;

}
a:hover{
    background-color: rgb(79, 79, 190);
}